# --- CONFIGURACIÓN DE RUTAS ---
# Cambia estas rutas por las carpetas donde guardas tus pelis y descargas.

# Ruta de tus películas y series
MEDIA_PATH=~/Movies

# Ruta de tus descargas
DOWNLOADS_PATH=~/Downloads

# --- CONFIGURACIÓN DE USUARIO (Solo Linux/Mac) ---
# Puedes dejarlos en 1000 si no sabes qué son.
PUID=1000
PGID=1000
TZ=America/Argentina/Buenos_Aires
